:root {
    --color1: #070707ff;
    --color2: #2e1e2eff;
    --color3: #553555ff;
    --color4: #65485fff;
    --color5: #7e8788ff;
    --color6: #96c5b0ff;
    --color7: #9fd6bdff;
    --color8: #a8e6caff;
    --color9: #b4f2d6ff;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/*
==========================================================
Start of Nav
==========================================================
*/

.navbar{
    background: var(--color1);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

#logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 3.5rem;
    background-color: white;
    background-image: linear-gradient(to right, var(--color4), var(--color4), var(--color5));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none; 
}

.navbar-item {
    height: 80px;
}

.navbar-links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    transition: all 0.5s ease;  
}

.contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: white;
    background: -webkit-linear-gradient(to right, var(--color2), var(--color3), var(--color4));
    background: linear-gradient(to right, var(--color2), var(--color3), var(--color4));
    color: white;
    transition: all 0.5s ease;
}

.navbar-links:hover {
    color: var(--color9);
    transition: all 0.5s ease;  
}

/*
==========================================================
Start of Hero
==========================================================
*/

.hero {
    background: var(--color1);
    background: linear-gradient(to right, #161616 5%, var(--color1) 45%);
    padding: 200px 0;
    transition: all 0.5s ease;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
    transition: all 0.5s ease;
}

.hero-container h1 {
    color: var(--color6);
}

.hero-heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: var(--color5);
    transition: all 0.5s ease;
}

.hero-heading span {
    background: white;
    background: -webkit-linear-gradient(to right, var(--color2), var(--color3), var(--color4));
    background: linear-gradient(to right, var(--color2), var(--color3), var(--color4));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-description {
    font-size: 60px;
    background: -webkit-linear-gradient(to right, var(--color2), var(--color3), var(--color4));
    background: linear-gradient(to right, var(--color2), var(--color3), var(--color4));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease;
}

.highlight {
    border-bottom: 4px solid var(--color6);
}


/*
==========================================================
Start of About
==========================================================
*/

.about {
    background: linear-gradient(to right, var(--color2), var(--color1));
    padding: 10rem 0;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.about-content {
    color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-content h1 {
    font-size: 2rem;
    background-color: white;
    background-image: linear-gradient(to right, var(--color4), var(--color4), var(--color5));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.about-content h2 {
    font-size: 4rem;
    background: -webkit-linear-gradient(to right, var(--color4), var(--color5), var(--color6));
    background: linear-gradient(to right, var(--color4), var(--color5), var(--color6));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease;
}

.about-content p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.about-btn {
    font-size: 1.5rem;
    background: white;
    background: -webkit-linear-gradient(to right, var(--color2), var(--color3), var(--color4));
    background: linear-gradient(to right, var(--color2), var(--color3), var(--color4));
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    outline: none;
}

.about-btn a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.about-btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, var(--color5), var(--color6), var(--color7));
    transition: all .5s;
    border-radius: 4px;
}

.about-btn:hover {
    color: white;
}

.about-btn:hover:after {
    width: 100%;
}

.about-img-container {
    text-align: center;
}

.about-img-card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color7);
    background-image: linear-gradient(to right, var(--color4), var(--color4), var(--color5));
}

.fa-solid, .fa-cubes-stacked {
    font-size: 16rem;
}

#card-2 {
    background: white;
    background: -webkit-linear-gradient(to right, var(--color2), var(--color3), var(--color4));
    background: linear-gradient(to right, var(--color2), var(--color3), var(--color4));
}

/*
=====================================================================================
Start of Portfolio
=====================================================================================
*/

.portfolio {
    background: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.portfolio h1 {
    background-color: white;
    background-image: linear-gradient(to right, var(--color4), var(--color4), var(--color5));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.portfolio-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.portfolio-card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, var(--color3) 0%, var(--color5) 50%, var(--color6) 100%);
    transition: 0.5s ease-in;
}

.portfolio-card:nth-child(2) {
    background-image: linear-gradient(to bottom, var(--color7) 0%, var(--color6) 50%, var(--color5) 100%);
}

.portfolio-card:nth-child(3) {
    background-image: linear-gradient(to bottom, var(--color7) 0%, var(--color6) 50%, var(--color5) 100%);
}
.portfolio-card:nth-child(4) {
    background-image: linear-gradient(to left, var(--color3) 0%, var(--color5) 50%, var(--color6) 100%);
}

.portfolio-card h2 {
    text-align: center;
}

.portfolio-card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.portfolio-btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.portfolio-card button {
    color: white;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--color1);
    font-size: 1rem;
}

.portfolio-card button:hover {
    cursor: pointer;
}

.portfolio-card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in;
    cursor: pointer;
}

/*
=====================================================================================
Start of Email
=====================================================================================
*/



/*
=====================================================================================
Media Queries 
=====================================================================================
*/



@media screen and (max-width: 480px) {

    /* Start of About */
    .about-img-card {
        width: 250px;
        height: 250px;
        transition: all 0.3s ease;
    }

    .fa-users, .fa-layer-group {
        font-size: 4rem;
    }

    .about-content h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .about-content h2 {
        font-size: 2rem;
    }

    .about-content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    
    .about-btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

    /* Start of Email */
}



@media screen and (max-width: 768px) {


    /* Start of Nav*/
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar-menu.active {
        background-color: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.5rem;
    }

    #logo {
        padding-left: 25px;
    }

    .navbar-toggle {
        padding-right: 25px;
        padding-top: 25px;
    }

    .navbar-toggle .bar {
        width: 35px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: whitesmoke;
    }

    .navbar-toggle .bar:nth-child(1) {
        background: var(--color2);
    }

    .navbar-toggle .bar:nth-child(2) {
        background: var(--color3);
    }

    .navbar-toggle .bar:nth-child(3) {
        background: var(--color4);
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar-btn {
        padding-bottom: 2rem;
    }

    .contact-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Start of Hero */
    .hero-heading {
        font-size: 60px;
        transition: all 0.5s ease;
    }

    .hero-description {
        font-size: 40px;
        transition: all 0.5s ease;
    }

    /* Start of Portfolio */

    .portfolio {
        width: 100%;
    }

    .portfolio-wrapper {
        display: flex;
        flex-direction: column;
    }

    .portfolio-card {
        height: 400px;
        width: 325px;
    }
    


}

@media screen and (max-width: 1100px) {

    /* Start of About*/
    .about-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .about-img-container {
        display: flex;
        justify-content: center;
    }

    .about-img-card {
        height: 300px;
        width: 300px;
    }

    .about-content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .about-content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .about-content h2 {
        font-size: 3rem;
    }

    .about-content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1300px) {

    /* Start of Portfolio */
    .portfolio-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}