/** @format */

:root {
	--color1: #070707ff;
	--color2: #2e1e2eff;
	--color3: #553555ff;
	--color4: #65485fff;
	--color5: #7e8788ff;
	--color6: #96c5b0ff;
	--color7: #9fd6bdff;
	--color8: #a8e6caff;
	--color9: #b4f2d6ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/*
==========================================================
Start of Nav
==========================================================
*/

.navbar {
	background: var(--color1);
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	padding: 0 50px;
}

#logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 2.5rem;
	background-color: white;
	background-image: linear-gradient(
		to right,
		var(--color4),
		var(--color4),
		var(--color5)
	);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.5s ease-in-out;
}

.navbar-menu {
	display: flex;
	align-items: center;
	list-style: none;
}

.navbar-item {
	height: 80px;
}

.navbar-links {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 125px;
	text-decoration: none;
	height: 100%;
}

.navbar-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	width: 100%;
	transition: all 0.5s ease;
}

.navbar-links:hover {
	color: var(--color9);
	transition: all 0.5s ease;
}

.contact-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 10px 20px;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	background: white;
	background: -webkit-linear-gradient(
		to right,
		var(--color2),
		var(--color3),
		var(--color4)
	);
	background: linear-gradient(
		to right,
		var(--color2),
		var(--color3),
		var(--color4)
	);
	color: white;
	transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
}

.contact-btn:hover {
	color: var(--color3);
	box-shadow: inset 10px 5px 40px 40px var(--color6);
}

/*
==========================================================
Start of Hero
==========================================================
*/

.hero {
	color: white;
	transition: all 0.5s ease;
	background-image: repeating-radial-gradient(
			circle at 0 0,
			transparent 7px,
			black 17px
		),
		repeating-linear-gradient(
			var(--color3),
			black,
			black,
			black,
			var(--color3),
			var(--color1)
		);
	min-height: 90vh;
}

.hero-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 0;
	transition: all 0.5s ease;
}

.hero-box {
	display: grid;
	grid-template-columns: 350px;
	grid-template-rows: 220px 220px;
	grid-template-areas: "image" "content";
	border: 0.5px solid var(--color3);
	border-radius: 18px;
	background-color: var(--color1);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
	text-align: center;
	transition: all 0.5s ease;
	transform-style: preserve-3d;
	transform: perspective(1000px);
}

.hero-img img {
	width: 180px;
	border-radius: 40px;
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.75);
	transition: all 0.5s ease-in-out;
}

.hero-img {
	margin: 40px 10px;
	grid-area: image;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: cover;
	transition: all 0.5s ease-in-out;
}

.hero-box .hero-img:hover {
	transform: translateZ(100px) scale(1.1);
	transition: all 0.5s ease-in-out;
}

.hero-content {
	grid-area: content;
	padding: 60px 10px;
}

.hero-heading {
	color: var(--color4);
	transition: all 0.5s ease-in-out;
	font-size: 2rem;
}

.hero-content p {
	margin-top: 30px;
	color: var(--color8);
	font-size: 1.5rem;
}

.hero-box:hover {
	transform: scale(1.2);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.75);
}

/*
==========================================================
Start of About
==========================================================
*/

.about {
	background: linear-gradient(
		to bottom,
		var(--color1),
		var(--color2),
		var(--color2),
		var(--color1)
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 5rem 0;
}

.about-container h1 {
	background-color: white;
	background-image: linear-gradient(
		to right,
		var(--color4),
		var(--color4),
		var(--color5)
	);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 5rem;
	font-size: 3.5rem;
	text-align: center;
}

.about-content {
	color: whitesmoke;
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
}

.about-me {
	padding: 60px;
	font-size: 1.3rem;
	max-width: 800px;
	text-align: center;
}

.about-btn {
	font-size: 1.2rem;
	background: white;
	background: -webkit-linear-gradient(
		to right,
		var(--color2),
		var(--color3),
		var(--color4)
	);
	background: linear-gradient(
		to right,
		var(--color2),
		var(--color3),
		var(--color4)
	);
	padding: 20px 60px;
	border: none;
	border-radius: 4px;
	color: white;
	margin-top: 2rem;
	cursor: pointer;
	position: relative;
	transition: all 0.5s;
	outline: none;
}

.about-btn a {
	position: relative;
	z-index: 2;
	color: white;
	text-decoration: none;
}

.about-btn::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: linear-gradient(
		to right,
		var(--color5),
		var(--color6),
		var(--color7)
	);
	transition: all 0.7s ease-in-out;
	border-radius: 4px;
}

.about-btn:hover:after {
	width: 100%;
}

.about-img-container {
	text-align: center;
}

.about-img-card {
	margin: 10px;
	height: 325px;
	width: 275px;
	transition: all 0.5s ease-in-out;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--color7);
	background: -webkit-radial-gradient(center, #2e1e2e, #010101);
	background: -moz-radial-gradient(center, #2e1e2e, #010101);
	background: radial-gradient(ellipse at center, #2e1e2e, #010101);
	box-shadow: -2px 4px 53px 19px rgba(0, 0, 0, 0.75);
}

.fa-solid,
.fa-cubes-stacked {
	font-size: 10rem;
}

/*
=====================================================================================
Start of Portfolio
=====================================================================================
*/

.portfolio {
	background: linear-gradient(
		to bottom,
		var(--color1),
		var(--color2),
		var(--color2),
		var(--color1)
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 5rem 0;
}

.portfolio h1 {
	background-image: linear-gradient(
		to right,
		var(--color4),
		var(--color4),
		var(--color5)
	);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 5rem;
	font-size: 3.5rem;
}

.portfolio-wrapper {
	display: flex;
	flex-direction: column;
}

.portfolio-card {
	margin: 10px;
	height: 375px;
	width: 300px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	background-image: linear-gradient(
		to bottom,
		var(--color3) 0%,
		var(--color5) 50%,
		var(--color6) 100%
	);
	transition: 0.5s ease-in;
}

.portfolio-card:nth-child(2) {
	background-image: linear-gradient(
		to bottom,
		var(--color7) 0%,
		var(--color6) 50%,
		var(--color7) 100%
	);
}

.portfolio-card:nth-child(3) {
	background-image: linear-gradient(
		to bottom,
		var(--color6) 0%,
		var(--color5) 50%,
		var(--color3) 100%
	);
}

.portfolio-card h2 {
	text-align: center;
	color: var(--color3);
}

.portfolio-card p {
	text-align: center;
	margin-top: 24px;
	font-size: 1.5rem;
}

.portfolio-btn {
	display: flex;
	justify-content: center;
	margin-top: 16px;
}

.portfolio-card button {
	color: white;
	padding: 14px 24px;
	border: none;
	outline: none;
	border-radius: 4px;
	background-color: var(--color1);
	font-size: 1rem;
}

.portfolio-card button:hover {
	cursor: pointer;
}

.portfolio-card:hover {
	transform: scale(1.05);
	transition: 0.3s ease-in;
	cursor: pointer;
}

/*
=====================================================================================
Start of Experience
=====================================================================================
*/

.resume-container {
	background: linear-gradient(
		to bottom,
		var(--color1),
		var(--color2),
		var(--color2),
		var(--color1)
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	padding: 5rem 0;
}

.resume-container h1 {
	background-color: white;
	background-image: linear-gradient(
		to right,
		var(--color4),
		var(--color4),
		var(--color5)
	);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 5rem;
	font-size: 3.5rem;
}

.resume-grid {
	border: 1px solid black;
	background: linear-gradient(to right, var(--color2), var(--color1));
	border-radius: 30px;
	box-shadow: -36px 46px 6px 3px rgba(1, 5, 19, 0.4);
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 2rem;
}

.resume-grid > div {
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	padding: 1.5rem;
	font-size: 1.3rem;
	text-align: center;
}

.resume-grid > div > h2 {
	font-size: 3rem;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: underline;
	background-image: linear-gradient(
		to right,
		var(--color4),
		var(--color4),
		var(--color5)
	);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: 0.5s ease;
}

.resume-grid > div > p,
l {
	font-size: 1.1rem;
	text-align: center;
	transition: 0.5s ease;
}

.resume-header > div {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.resume-holder-set-1 > p,
.resume-holder-set-2 > p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.resume-holder-set-1,
.resume-holder-set-2 {
	padding: 10px;
}

.resume-skills {
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 50px;
}

/*
=====================================================================================
Start of Email
=====================================================================================
*/
.email {
	color: white;
	background: linear-gradient(
		to bottom,
		var(--color1),
		var(--color2),
		var(--color2),
		var(--color1)
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 5rem 0;
}

.email-container h1 {
	background-color: white;
	background-image: linear-gradient(
		to right,
		var(--color4),
		var(--color4),
		var(--color5)
	);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 5rem;
	font-size: 3.5rem;
	text-align: center;
}

.email-content {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.email-content p {
	padding: 2rem 3rem 2rem 3rem;
	font-size: 1.5rem;
	text-align: center;
	max-width: 800px;
}

.email-img-container {
	text-align: center;
}

.email-img-card {
	color: var(--color7);
}

.fa-solid,
.fa-envelope {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10rem;
	transition: all 0.5s ease;
}

.fa-envelope:hover {
	cursor: pointer;
}

.form-popup {
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

#form {
	width: 330px;
	margin: 0 10px;
	border: 1px solid white;
	border-radius: 10px;
	background-image: linear-gradient(
		to right,
		var(--color4),
		var(--color4),
		var(--color5)
	);
	transition: all 0.5s ease;
}

#form h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.5rem;
	background-image: linear-gradient(
		to right,
		var(--color1),
		var(--color2),
		var(--color1)
	);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-bottom: 1px solid var(--color2);
	margin: 0 10px;
}

#form p {
	text-align: center;
	font-size: 1.2rem;
	background-image: linear-gradient(
		to right,
		var(--color1),
		var(--color2),
		var(--color1)
	);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 10px 5px 20px 5px;
}

.field {
	padding: 10px 0 10px 0;
}

.field:nth-child(6) {
	margin-bottom: 30px;
}

.field input {
	font-size: 1.1rem;
	width: 80%;
	text-align: center;
	border-radius: 10px;
	padding: 3px 5px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 14px 16px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.field textarea {
	margin: 5px 10px;
	font-size: 1.1rem;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 14px 16px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

::-webkit-input-placeholder {
	text-align: center;
}

.email-btn-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.email-btn,
.cancel-btn {
	padding: 10px;
	margin-bottom: 15px;
	border: 0 solid;
	border-radius: 10px;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: 1px solid;
	outline-color: rgba(255, 255, 255, 0.5);
	outline-offset: 0px;
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.email-btn:hover,
.cancel-btn:hover {
	border: 1px solid;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
		0 0 20px rgba(255, 255, 255, 0.2);
	outline-color: rgba(255, 255, 255, 0);
	outline-offset: 15px;
	text-shadow: 1px 1px 2px #427388;
	transition: all 0.5s ease;
}

/*
=====================================================================================
Start of Footer
=====================================================================================
*/

.footer-container {
	background-color: var(--color1);
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.social-media {
	width: 100%;
}

.social-media-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto 20px auto;
}

.social-icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 240px;
}

.social-icon-link {
	transition: all 0.5s ease;
}

.social-icon-link:hover {
	transform: scale(1.3);
	transition: all 0.5s ease;
}

.website-rights {
	color: white;
}

/*
=====================================================================================
Media Queries 
=====================================================================================
*/

@media screen and (max-width: 768px) {
	/* Start of About */

	/* Start of Nav*/
	.navbar-container {
		display: flex;
		justify-content: space-between;
		height: 80px;
		z-index: 1;
		width: 100%;
		max-width: 1300px;
		padding: 0;
	}

	.navbar-menu {
		display: grid;
		grid-template-columns: auto;
		margin: 0;
		width: 100%;
		position: absolute;
		top: -1000px;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: -1;
	}

	.navbar-menu.active {
		background-color: var(--color1);
		top: 100%;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 99;
		height: 60vh;
		font-size: 1rem;
	}

	#logo {
		padding-left: 25px;
		transition: all 0.5s ease-in-out;
	}

	.navbar-toggle {
		padding-right: 25px;
		padding-top: 25px;
	}

	.navbar-toggle .bar {
		width: 35px;
		height: 2px;
		margin: 5px auto;
		transition: all 0.5s ease-in-out;
		background: whitesmoke;
	}

	.navbar-toggle .bar:nth-child(1) {
		background: var(--color2);
	}

	.navbar-toggle .bar:nth-child(2) {
		background: var(--color3);
	}

	.navbar-toggle .bar:nth-child(3) {
		background: var(--color4);
	}

	.navbar-item {
		width: 100%;
	}

	.navbar-links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}

	.navbar-btn {
		padding-bottom: 2rem;
	}

	.contact-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 60px;
		margin: 0;
	}

	#mobile-menu {
		position: absolute;
		top: 20%;
		right: 5%;
		transform: translate(5%, 20%);
	}

	.navbar-toggle .bar {
		display: block;
		cursor: pointer;
	}

	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	/* Start of Hero */

	/* Start of Portfolio */

	.portfolio {
		width: 100%;
	}

	.portfolio-card {
		height: 400px;
		width: 325px;
	}

	/* Start of Footer */

	.footer-link-items {
		padding-top: 2rem;
	}

	#footer-logo {
		margin-bottom: 2rem;
	}

	.website-rights {
		margin-top: 2rem;
	}

	.footer-link-wrapper {
		flex-direction: column;
	}

	.social-media-wrap {
		flex-direction: column-reverse;
	}
}

@media screen and (min-width: 768px) {
	.hero-box {
		grid-template-columns: 450px;
		grid-template-rows: 230px 230px;
	}

	.hero-img img {
		width: 230px;
	}

	.hero-heading {
		margin-top: 30px;
		transition: all 0.5s ease-in-out;
	}
	/* Start of About */

	.about-content {
		flex-direction: row;
	}

	/* Start of Portfolio */
	.portfolio-wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}

	.card-1 {
		grid-area: 1 / 1 / 3 / 3;
	}
	.card-2 {
		grid-area: 1 / 3 / 3 / 5;
	}
	.card-3 {
		grid-area: 3 / 2 / 5 / 4;
	}

	.portfolio-card:nth-child(2) {
		background-image: linear-gradient(
			to top,
			var(--color6) 0%,
			var(--color5) 50%,
			var(--color3) 100%
		);
	}

	/* Start of Resume */
	.resume-grid {
		grid-template-columns: 1fr 1fr;
	}

	#form {
		margin-right: 20px;
		width: 550px;
		transition: all 0.5s ease;
	}

	.fa-solid,
	.fa-envelope {
		margin-right: 20px;
		font-size: 12rem;
		transition: all 0.5s ease;
	}
}

@media screen and (min-width: 1024px) {
	.hero-box {
		grid-template-columns: 500px;
		grid-template-rows: 280px 280px;
	}

	.hero-img img {
		width: 250px;
	}

	.portfolio-wrapper {
		display: flex;
		flex-direction: row;
	}

	.portfolio-card {
		height: 450px;
		width: 300px;
		background-image: linear-gradient(
			to right,
			var(--color3) 0%,
			var(--color5) 50%,
			var(--color6) 100%
		);
		transition: 0.5s ease-in;
	}

	.portfolio-card:nth-child(2) {
		background-image: linear-gradient(
			to bottom,
			var(--color7) 0%,
			var(--color6) 50%,
			var(--color5) 100%
		);
	}

	.portfolio-card:nth-child(3) {
		background-image: linear-gradient(
			to right,
			var(--color6) 0%,
			var(--color5) 50%,
			var(--color3) 100%
		);
	}

	.email-container {
		display: flex;
		flex-direction: row;
	}

	#form {
		width: 400px;
		transition: all 0.5s ease;
	}

	.fa-solid,
	.fa-envelope {
		font-size: 16rem;
		transition: all 0.5s ease;
	}
}

@media screen and (min-width: 1300px) {
	.hero-box {
		grid-template-columns: 550px;
		grid-template-rows: 310px 310px;
	}

	.hero-img img {
		width: 300px;
	}

	.fa-solid,
	.fa-envelope {
		font-size: 18rem;
		transition: all 0.5s ease;
	}
}
